In [ ]:
import pandas as pd

animal=['cow','bird','parrot']
pd.Series(animal)

0       cow
1      bird
2    parrot
dtype: object

In [ ]:
pd.Series(animal[0])

0    cow
dtype: object

In [ ]:
sports={'cricket': 'kholi','football':'mesi','hoky':'lara','bandminton':'james', 'marathon':'u.bold'}
s=pd.Series(sports)

In [ ]:
pd.Series(sports['bandminton'])

0    james
dtype: object

In [ ]:
s

cricket        kholi
football        mesi
hoky            lara
bandminton     james
marathon      u.bold
dtype: object

In [ ]:
s.loc['cricket']

'kholi'

In [ ]:
s['football']

'mesi'

In [ ]:
#sum in seris
sum=0
total=[1000,345,8798,345,987,98]
s=pd.Series(total)
for i in s:
  sum+=i

sum

11573

In [ ]:
import numpy as np
t=np.sum(s)
t

11573

In [ ]:
s=pd.Series(np.random.randint(0,1000,10000))
s

0       700
1       118
2       780
3       793
4       266
       ...
9995    568
9996     89
9997    591
9998    956
9999    363
Length: 10000, dtype: int64

In [ ]:
s.head()#show top 5 element

0    700
1    118
2    780
3    793
4    266
dtype: int64

In [ ]:
%%timeit -n 10
s=pd.Series(np.random.randint(0,100,1000))

s=s+2
s

10 loops, best of 3: 384 Âµs per loop

In [ ]:
s=pd.Series([1,2,3,4,54])
s

0     1
1     2
2     3
3     4
4    54
dtype: int64

In [ ]:
s.loc['animal']='bears'
s

0             1
1             2
2             3
3             4
4            54
animal    bears
dtype: object

In [ ]:
#Datafram in python
table1={'Name':'Absar',
       'Id':'18701039', 'semester':'3rd','GPA':'3.45'}
table2={'Name':'Arif',
       'Id':'18701040', 'semester':'3rd','GPA':'3.4'}
table3={'Name':'Rofik',
       'Id':'18701045', 'semester':'3rd','GPA':'3.56'}
df=pd.DataFrame((table1,table2,table3),index={1,2,3})
df

    Name        Id semester   GPA
1  Absar  18701039      3rd  3.45
2   Arif  18701040      3rd   3.4
3  Rofik  18701045      3rd  3.56

In [ ]:
df['GPA']

1    3.45
2     3.4
3    3.56
Name: GPA, dtype: object

In [ ]:
df.loc[:,['Name','Id']]

    Name        Id
1  Absar  18701039
2   Arif  18701040
3  Rofik  18701045

In [ ]:
df.drop(1)#Delet index 1

    Name        Id semester   GPA
2   Arif  18701040      3rd   3.4
3  Rofik  18701045      3rd  3.56

In [ ]:
df_copy=df.copy()

In [ ]:
df_copy

    Name        Id semester   GPA
1  Absar  18701039      3rd  3.45
2   Arif  18701040      3rd   3.4
3  Rofik  18701045      3rd  3.56

In [ ]:
df_copy.drop(3)

    Name        Id semester   GPA
1  Absar  18701039      3rd  3.45
2   Arif  18701040      3rd   3.4

In [ ]:
df_copy

    Name semester
1  Absar      3rd
2   Arif      3rd
3  Rofik      3rd

In [ ]:
df

    Name        Id semester   GPA
1  Absar  18701039      3rd  3.45
2   Arif  18701040      3rd   3.4
3  Rofik  18701045      3rd  3.56

In [ ]:
df['course']=['eng','phy','chy'] #new coloum added

df

    Name        Id semester   GPA cours course
1  Absar  18701039      3rd  3.45  None    eng
2   Arif  18701040      3rd   3.4  None    phy
3  Rofik  18701045      3rd  3.56  None    chy

In [ ]:
df

    Name        Id semester   GPA cours course
1  Absar  18701039      3rd  3.45  None    eng
2   Arif  18701040      3rd   3.4  None    phy
3  Rofik  18701045      3rd  3.56  None    chy

In [ ]:
df.drop(['cours'],axis=1) 
df

    Name        Id semester   GPA cours course
1  Absar  18701039      3rd  3.45  None    eng
2   Arif  18701040      3rd   3.4  None    phy
3  Rofik  18701045      3rd  3.56  None    chy

In [ ]:
df.drop(['cours'],axis=1)

    Name        Id semester   GPA course
1  Absar  18701039      3rd  3.45    eng
2   Arif  18701040      3rd   3.4    phy
3  Rofik  18701045      3rd  3.56    chy

In [3]:
import pandas as pd
d = pd.DataFrame({'a': [1, 2] * 3,
                   'b': [True, False] * 3,
                   'c': [1.0, 2.0] * 3})
d

   a      b    c
0  1   True  1.0
1  2  False  2.0
2  1   True  1.0
3  2  False  2.0
4  1   True  1.0
5  2  False  2.0

In [4]:
d.select_dtypes(include=bool)

       b
0   True
1  False
2   True
3  False
4   True
5  False

NameError: ignored